## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs
**/packages/
*.nupkg

## Visual Studio
.vs/
*.csproj.user
*.dbmdl
*.jfm

## JetBrains Rider
.idea/
*.sln.iml

## OS generated
.DS_Store
Thumbs.db

## Build
Release/
Publish/

## Logs
logs/
*.log
